/* stylelint-disable function-no-unknown */
@import '../../../style/index';

.card {
  border-style: solid;
  border-radius: 3px;
  border-width: 1px 2px 2px 1px;
  border-color: darken($color-white, 20);

  display: flex;
  flex-direction: column;
  width: 300px;

  &DialogImage {
    flex-basis: 325px;
    width: 100%;

    &:hover {
      cursor: zoom-out;
    }
  }

  &DialogTitle {
    flex-basis: 54px;
    width: 100%;

    span {
      margin: 0 10px;
      right: 0;
      text-align: center;
    }

    &:hover {
      cursor: zoom-out;
    }
  }

  &Header {
    flex-basis: 75px;
    width: 100%;

    display: flex;
    flex-direction: row;

    &Left {
      position: relative;
      top: 10px;
      left: 15px;
      width: 25%;

      &:hover {
        cursor: zoom-in;
      }
    }

    &Right {
      position: relative;
      width: 75%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 15px;

      &:hover {
        cursor: zoom-in;
      }
    }
  }

  &Body {
    flex-basis: 200px;
    width: 100%;

    &Image {
      &:hover {
        cursor: zoom-in;
      }
    }
  }

  &Footer {
    flex-basis: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;

    &Top {
      &:hover {
        cursor: zoom-in;
      }

      &SupportingText {
        padding: 10px 5px 10px 15px;
      }
    }

    &Bottom {
      display: flex;
      flex-direction: row;

      &Buttons {
        flex-grow: 3;
        flex-basis: 75px;
        width: 100%;

        &Button {
          padding: 15px;
          color: $color-blue;
          background-color: $color-white;
          border-style: none;
          font-weight: bold;
        }
      }

      &Icons {
        flex-grow: 1;
        flex-basis: 25px;
        width: 100%;

        display: flex;
        flex-direction: row;

        &Icon {
          padding: 10px;
          color: $color-grey;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
