// CSS styling configuration implementing a theme
// containing font and color choices

// font family
$font-family-primary: 'metabold_roman', arial;

// font size
$font-size-large: 20px;
$font-size-medium: 16px;
$font-size-small: 12px;
$font-size-tiny: 8px;

$font-size-h4: 18px;
$font-size-h3: 23px;
$font-size-h2: 28px;
$font-size-h1: 32px;

// colors
$color-white: #fff;
$color-black: #1f1f1f;
$color-grey: #939393;
$color-blue: #39f;
$color-purple: #6200ee;

$color-text-heading: #36f;
